*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    margin-top: 100px;
    padding: 20px;
    display: flex;
    gap: 80px;
}

.box1{
    background-color: blue;
    transition: transform 0.5s ease;
    width: 200px;
    height: 200px;
}
.box1:hover{
     transform: scale(1.08);
}

