* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #311c1c;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    width: 90%;
    max-width: 500px;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.todo-form {
    display: flex;
    gap: 10px;
}

#task-input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    margin-top: 20px;
}

#task-list li {
    padding: 12px;
    margin-bottom: 10px;
    background: #f4f4f4;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#clear-btn {
    margin-top: 20px;
    width: 100%;
}

.completed {
    text-decoration: line-through;
}
