*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin-top: 100px;
    padding: 20px;
    background: blue;
    transition: 0.5s ease;
}
button:hover{
    background-color: green;
}