*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #040713;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070B18;
    color: white;
    padding: 20px 70px;
}
.logo{
    display: flex;
    gap: 12px;
    align-items:center;
}
.logo-icon{
    color: #5B4BFF;
    font-size: 35px;
}
.nav-link{
    display: flex;
    gap: 35px;
}
.nav-link a{
    color: white;
    font-size:15px;
    text-decoration: none;
}
.hire-btn{
    background: blue;
    border: none;
    text-decoration: none;
    color: white;
    padding: 12px 25px;
    border-radius:10px;
}
.hire-btn:hover{
    background:#5B21FF;
}
.hero{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    background-color: #060f2f;
}
/* Hero design */
.profile img{
    margin-top: 20px;
    width: 350px;
    height: 350px;
    border-radius: 2rem;
}
.bio{
    margin-top: 40px;
}
.bio h2{
    color: rgb(34, 38, 171);
}
.bio h1, p{
    color: white;
}
.bio p{
    margin-bottom: 15px;
}
.btn{
    margin-bottom: 20px;
}
.btn button{
    padding: 10px;
}
.btn button:hover{
    color: white;
    border: none;
    cursor: pointer;
    background-color: #0e2884;
}
.icons{
    margin-top: 20px;
    color: white;
    display: flex;
    gap: 10px;
}
.icons .fa-brands{
    border-radius: 50%;
    background-color: rgb(85, 77, 77);
    padding: 13px;
}
/* Accolades */
.performance{
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 85%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 100px;
    background-color: rgba(71, 66, 66, 0.251);
    border-radius: 2rem;
}
.code, .responsive, .Fast, .user{
    display: flex;
    gap: 10px;
}

.fa-solid , .fa-regular, .fa-brands{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 50%;
    font-size: 25px;
   background-color: #060f2f;
   width: 50px;
   height: 50px;
   padding: 10px;
}
.fa-code{
    color: blue;
    background-color: rgb(13, 13, 107);
}
.fa-display{
    color: purple;
    background-color: rgb(171, 77, 171);
}
.fa-rocket{
    color: green;
    background-color: rgb(101, 192, 101);
}
.fa-user{
    color: orange;
    background-color: orangered;
}
.code h2, .responsive h2, .Fast h2, .user h2{
    color: white;
}
/* About Me */
#aboutme{
    margin-top: 20px;
    display: flex;
    gap: 80px;
    background-color: #0e2884;
    border-radius: 1.5rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 45px;
}
#aboutme img{
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}
.fa-circle{
    color: #0e35c4;
}
.ab{
    display: flex;
    gap: 10px;
    color: white;
}
.about p{
    margin-bottom: 20px;
}
.about button{
    padding: 10px;
}
.about button:hover{
    color: white;
    border: none;
    cursor: pointer;
    background-color: #0e35c4;
}
.Accolades{
    display: flex;
    flex-direction: column;
}
.yrs, .projects, .clients, .certification{
    display: flex;
    color: white;
    gap: 10px;
}
.fa-calendar-check, .fa-diagram-project, .fa-face-smile,.fa-award{
    color: rgb(80, 80, 186);
}
.top{
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
#skills{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #060f2f;
    border-radius: 1.5rem;
   padding: 40px;
}
.skillset{
    display: flex;
    gap: 20px;
}
.skillset h3{
    color: white;
    font-size: 25px;
}
.skillset ,.fa-brands ,.fa-solid{
    border: none !important;
    background-color: #040713 !important;
}
.html, .css, .js, .react, .node, .express, .git, .mongodb, .native, .tail{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-html5{
    color: orangered;
    font-size: 50px;
}
.fa-css3-alt{
    color: rgb(120, 120, 182);
    font-size: 50px;
}
.fa-js{
    color: yellow;
    font-size: 50px;
}
.fa-react{
    color: rgb(60, 60, 227);
    font-size: 50px;
}
.fa-node-js{
    color: green;
    font-size: 50px;
}
.fa-server{
    color: white;
    font-size: 50px;
}
.fa-git-alt{
    color: orangered;
    font-size: 50px;
}
.fa-database{
    color: pink;
    font-size: 50px;
}
.fa-feather{
    font-size: 50px;
    color: blue;
}
.bar{
    display: flex;
    margin: 20px;
    flex-direction: column;
}
.b{
    color: white;
    background-color: blue;
    height: 10px;
    width: 100%;
    border-radius: 2rem;
}
.b1{
   background-color: rgb(65, 65, 194);
    height: 10px;
    width: 90%;
    border-radius: 2rem;
}
.b1 h4{
    margin-left: 10px;
}
.b2{
   background-color: rgb(65, 65, 194);
    height: 10px;
    width: 95%;
    border-radius: 2rem;
}
.b2 h4{
    margin-left: 10px;
}
#features{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 50px;
}
#features .card img{
    width: 300px;
    height: 300px;
    border-radius: 1.5rem;
}
.bottom{
    display: flex;
    gap: 20px;
}
.card{
    width: 320px;
    height: 460px;
    padding-left: 10px;
    padding-right: 30px;
    color: white;
    background-color: #0e1845;
    border-radius: 1.5rem;
    padding-bottom: 40px;
}
.button{
    display: flex;
    gap: 20px;
}
.btn{
    margin-top: 10px;
    background-color: #0e2884;
    border-radius: 1.4rem;
    padding: 10px;
}
.fa-arrow-right{
    font-size: 25px;
    color: #1333c5;
}
.fa-solid.fa-arrow-right{
    color:#0e37cf;
}
.button .fa-solid{
    background-color: #060917 !important;
}
footer{
    background-color: #060f2f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
footer .connect h3{
   color: white;
   font-size: 40px;
}
footer .connect h3 strong{
    color: #0e37cf;
}
footer .connect p{
    font-size: 20px;
}
footer .bt{
    margin-top: 10px;
    background: #040713;
    width: 28%;
    padding: 8px;
    border-radius: 1.5rem;
    background-color: #0e37cf;
}
footer .fa-solid{
    background-color: #060f2f !important;
    color: white;
}
.contact{
    display: flex;
    flex-direction: column;
}
.email, .phone, .location{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.follow h4{
    color: white;
    font-size: 30px;
}
.follow .fa-brands{
    background-color: #060f2f !important;
    color: white;
}
@media(max-width:760px){

}